/* generic */
    *, body {
      box-sizing: border-box;
      margin: 0;
      font-family: "Segoe", "Segoe UI", Arial, sans-serif;
    }

    html {
      font-size: 10px;
      scroll-behavior: smooth;
    }

/* layout */
    .content {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: minmax(55px, 10%) 1fr;
      height: 100vh;
    }
    header {
      grid-column: 1/9;
      padding: 1rem 2rem;
      background: #ffaa1d;
      display: flex;
      align-items: center;
    }
    .mobile-nav {
      display: flex;
      position: fixed;
      z-index: 5;
      align-items: center;
      justify-content: space-around;
      left: 0;
      right: 0;
      bottom: 0;
    }

    main {
      grid-column: 1/9;
    }

    main .center {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
    .mobile-nav-svg {
      fill: #a9a9a9;
      width: 40px;
      height: 40px;
    }

    .desktop-nav {
      display: none;
    }

    .mobile-nav a {
      font-size: 1.4rem;
      text-decoration: none;
      color: #a9a9a9;
      font-family: Verdana, sans-serif;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top: 1px solid #ccc;
      padding: 0.6rem 1.2rem;
      background-color: #efefef;
      transition: background-color 0.3s ease-out;
    }

    .mobile-nav a:not(:first-child) {
      border-left: 1px solid #ccc;
    }

    .mobile-nav a:hover {
      background-color: #ccc;
    }

    .mobile-nav a:hover  svg{
      fill: #777;
    }

    .book-list {
      width: 95%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
      grid-auto-rows: 280px;
      grid-gap: 20px;
      flex-direction: column;
      align-items: stretch;
      padding-top: 1.2rem;
      flex-grow: 1;
      margin: auto;
    }

   .book-card {
        display: flex;
        border:1px solid #CCC;
        box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
        cursor: pointer;
        vertical-align: middle;
        padding: 2rem;
        text-align: center;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
        margin: auto;
        height: 90%;
    }
    .book-card:active {
        box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
    }

    .book-card:hover {
        box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
    }
    .book-card img {
      width: 16rem;
    }

    .book-details {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      font: 1.2rem 'Roboto', sans-serif;
      padding: 1rem 1rem 1rem 2rem;
      overflow: overlay;
    }

    /* headings */
    h1 {
      font-size: 2.5rem;
      font-family: Arial, sans-serif;
    }
    h1.logo {
      font-size: 3rem;
      font-family: "Trebuchet MS", sans-serif;
    }

    /* Generic */
    .sub-header {
      background-color: #f4f5de;
      padding: 0.7rem 0.7rem 0.7rem 2rem;
    }



    button.action-tag  {
      background-color: #ce93d8;
      border: none;
      border-radius: 3px;
      padding: 0.6rem 1rem;
      font-size: 1.6rem;
      font-weight: 600;
      transition: background-color 0.3s ease-out;
      font-family: 'Open Sans', sans-serif;
      width: 80%;
      margin: 3rem auto;
      height: 4rem;
      cursor: pointer;
    }

    button.action-tag:hover, button.action-tag:active {
      background-color: #e1bee7;

    }

    /* responsive desktop */

    .nav-item {
      height: 10rem;
      padding: 2rem 4rem;
      display: flex;
      justify-content: stretch;
    }

    .nav-item button {
      border: none;
      border-radius: 4px;
      padding: 0.5rem 2rem;
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      font-family: "Open Sans", sans-serif;
      font-size: 2rem;
      color: #222;
      align-items: center;
      max-height: 5.5rem;
      cursor: pointer;
    }

    .nav-item button svg {
      width: 23px;
      height: 23px;
    }

    .nav-item > button:hover, .nav-item > button:active {
      box-shadow: 0px 0px 4px 1px;
    }

    button#clear-btn {
      background-color: #d21d1d ;
    }

    button#clear-btn:hover, button#add-btn:active  {
      background-color: #f11f1f;
      box-shadow: 0px 0px 4px 1px #f11f1f;
    }

    button#clear-btn:hover svg, button#clear-btn:active svg{
      fill: #b10909;
    }

    button#add-btn {
      background-color: #2ec56e;
    }

    button#add-btn:hover, button#add-btn:active {
      background-color: #04f56a;
      box-shadow: 0px 0px 4px 1px #04f56a;
    }

    button#add-btn:hover svg, button#add-btn:active svg {
      fill: #159049;
    }

    button#populate-db-btn {
      background-color: #ad7eb5;
    }

    button#populate-db-btn:hover, button#populate-db-btn:active {
      background-color: #b23fc5;
      box-shadow: 0px 0px 4px 1px #b23fc5;
    }



    div.search-div {
      position: relative;
      flex-direction: column-reverse;
      margin-top: 1.5rem;
    }

    .desktop-search-svg {
      fill: #a9a9a9;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 3.7rem;
      left: 5rem;
    }

    input#search-input {
      line-height: 2.8rem;
      padding: 0.5rem  1rem 0.5rem 4.5rem;
      border-radius: 4px;
      border: 1px solid #ccc;
      margin: 1rem 0rem 0rem 0rem;
    }

    #search-label {
      font-family: sans-serif;
      font-size: 1.1rem;
      color: #aaa;
    }



    /* Media Queries */
    @media screen and (min-width: 1137px) {
      .content {
        grid-template-rows: minmax(55px, 10%) 1fr;
      }
      .desktop-nav {
        display: block;
        grid-column: 1/3;
        border: 1px solid #ccc;
      }
      .mobile-nav {
        display: none;
      }
      main {
        grid-column: 3/9;
      }
    }
