/* generic */
    *, body {
      box-sizing: border-box;
      margin: 0;
      font-family: "Segoe", "Segoe UI", Arial, sans-serif;
    }

    html {
      font-size: 10px;
      scroll-behavior: smooth;
    }

/* layout */
    .content {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: minmax(55px, 10%) 1fr;
      height: 100vh;
    }
    header.page-header {
      grid-column: 1/9;
      padding: 1rem 2rem;
      background: #ffaa1d;
      display: flex;
      align-items: center;
    }
    .mobile-nav {
      display: flex;
      position: fixed;
      z-index: 5;
      align-items: center;
      justify-content: space-around;
      left: 0;
      right: 0;
      bottom: 0;
    }

    main {
      grid-column: 1/9;
    }

    main .center {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin-bottom: 6rem;
    }
    .mobile-nav-svg {
      fill: #a9a9a9;
      width: 40px;
      height: 40px;
    }

    .desktop-nav {
      display: none;
    }

    .mobile-nav a {
      font-size: 1.4rem;
      text-decoration: none;
      color: #a9a9a9;
      font-family: Verdana, sans-serif;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top: 1px solid #ccc;
      padding: 0.6rem 1.2rem;
      background-color: #efefef;
      transition: background-color 0.3s ease-out;
    }

    .mobile-nav a:not(:first-child) {
      border-left: 1px solid #ccc;
    }

    .mobile-nav a:hover {
      background-color: #ccc;
    }

    .mobile-nav a:hover  svg{
      fill: #777;
    }

    .book-list {
      width: 95%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
      grid-auto-rows: 280px;
      grid-gap: 20px;
      flex-direction: column;
      align-items: stretch;
      padding-top: 1.2rem;
      flex-grow: 1;
      margin: auto;
      font-size: 2rem;
    }

   .book-card {
        display: flex;
        border:1px solid #CCC;
        box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
        cursor: pointer;
        vertical-align: middle;
        padding: 2rem 1rem 2rem;
        font-size: 1.2rem;
        height: 90%;
    }
    .book-card:active {
        box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
    }

    .book-card:hover {
        box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
    }
    .book-card img {
      width: 13rem;
    }

    .book-details {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      font: 1.4rem 'Roboto', sans-serif;
      padding-left: 1.5rem;
    }

    .book-details .description {
      flex-grow: 2;
      overflow: overlay;
    }

    .book-details .book-actions {
      display: flex;
      align-self: flex-end;
      justify-content: space-between;
      width: 8rem;
    }

    .book-actions button {
      border: none;
      padding: 0.6rem 1.2rem;
      cursor: pointer;
      background: transparent;
    }

    .book-actions button:hover svg {
       fill: rgb(34, 34, 34, 1);
    }

    .book-actions .edit-btn {
      background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiBmaWxsPSIjY2NjIiB2aWV3Qm94PSIwIDAgMzgzLjk0NyAzODMuOTQ3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzODMuOTQ3IDM4My45NDc7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iMjJweCIgaGVpZ2h0PSIyMnB4Ij4NCiAgICAgICAgICAgICAgICAgICAgPHBvbHlnb24gcG9pbnRzPSIwLDMwMy45NDcgMCwzODMuOTQ3IDgwLDM4My45NDcgMzE2LjA1MywxNDcuODkzIDIzNi4wNTMsNjcuODkzICIgLz4NCiAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTM3Ny43MDcsNTYuMDUzTDMyNy44OTMsNi4yNGMtOC4zMi04LjMyLTIxLjg2Ny04LjMyLTMwLjE4NywwbC0zOS4wNCwzOS4wNGw4MCw4MGwzOS4wNC0zOS4wNA0KICAgICAgICAgICAgICAgICAgICAgIEMzODYuMDI3LDc3LjkyLDM4Ni4wMjcsNjQuMzczLDM3Ny43MDcsNTYuMDUzeiIgLz4NCiAgICAgICAgICAgICAgICAgIDwvc3ZnPg==) no-repeat center;
      background-size: contain;
      height: 30px;
      width: 30px;
    }
    .book-actions .delete-btn {
      background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iQ2FwYV8xIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTUuNTU2IDUxNS41NTYiIGhlaWdodD0iMjJweCIgd2lkdGg9IjIycHgiIGZpbGw9IiNjY2MiIHZpZXdCb3g9IjAgMCA1MTUuNTU2IDUxNS41NTYiICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciID4NCiAgICA8cGF0aCBkPSJtNjQuNDQ0IDQ1MS4xMTFjMCAzNS41MjYgMjguOTAyIDY0LjQ0NCA2NC40NDQgNjQuNDQ0aDI1Ny43NzhjMzUuNTQyIDAgNjQuNDQ0LTI4LjkxOCA2NC40NDQtNjQuNDQ0di0zMjIuMjIyaC0zODYuNjY2eiIgLz4NCiAgICA8cGF0aCBkPSJtMzIyLjIyMiAzMi4yMjJ2LTMyLjIyMmgtMTI4Ljg4OXYzMi4yMjJoLTE2MS4xMTF2NjQuNDQ0aDQ1MS4xMTF2LTY0LjQ0NHoiIC8+DQo8L3N2Zz4NCg==) no-repeat center;
      background-size: contain;
      height: 30px;
      width: 30px;
    }

    .book-actions .edit-btn.hover {
      background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiBmaWxsPSIjMjIyIiB2aWV3Qm94PSIwIDAgMzgzLjk0NyAzODMuOTQ3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzODMuOTQ3IDM4My45NDc7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iMjJweCIgaGVpZ2h0PSIyMnB4Ij4NCiAgICAgICAgICAgICAgICAgICAgPHBvbHlnb24gcG9pbnRzPSIwLDMwMy45NDcgMCwzODMuOTQ3IDgwLDM4My45NDcgMzE2LjA1MywxNDcuODkzIDIzNi4wNTMsNjcuODkzICIgLz4NCiAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTM3Ny43MDcsNTYuMDUzTDMyNy44OTMsNi4yNGMtOC4zMi04LjMyLTIxLjg2Ny04LjMyLTMwLjE4NywwbC0zOS4wNCwzOS4wNGw4MCw4MGwzOS4wNC0zOS4wNA0KICAgICAgICAgICAgICAgICAgICAgIEMzODYuMDI3LDc3LjkyLDM4Ni4wMjcsNjQuMzczLDM3Ny43MDcsNTYuMDUzeiIgLz4NCiAgICAgICAgICAgICAgICAgIDwvc3ZnPg==) no-repeat center;
      background-size: contain;
    }
    .book-actions .delete-btn.hover {
      background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iQ2FwYV8xIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTUuNTU2IDUxNS41NTYiIGhlaWdodD0iMjJweCIgd2lkdGg9IjIycHgiIGZpbGw9IiMyMjIiIHZpZXdCb3g9IjAgMCA1MTUuNTU2IDUxNS41NTYiICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciID4NCiAgICA8cGF0aCBkPSJtNjQuNDQ0IDQ1MS4xMTFjMCAzNS41MjYgMjguOTAyIDY0LjQ0NCA2NC40NDQgNjQuNDQ0aDI1Ny43NzhjMzUuNTQyIDAgNjQuNDQ0LTI4LjkxOCA2NC40NDQtNjQuNDQ0di0zMjIuMjIyaC0zODYuNjY2eiIgLz4NCiAgICA8cGF0aCBkPSJtMzIyLjIyMiAzMi4yMjJ2LTMyLjIyMmgtMTI4Ljg4OXYzMi4yMjJoLTE2MS4xMTF2NjQuNDQ0aDQ1MS4xMTF2LTY0LjQ0NHoiIC8+DQo8L3N2Zz4NCg==) no-repeat center;
      background-size: contain;
    }


    /* headings */
    h1 {
      font-size: 2.5rem;
      font-family: Arial, sans-serif;
    }
    h1.logo {
      font-size: 3rem;
      font-family: "Trebuchet MS", sans-serif;
    }

    /* Generic */
    .sub-header {
      background-color: #f4f5de;
      padding: 0.7rem 0.7rem 0.7rem 2rem;
    }



    button.action-tag  {
      background-color: #ce93d8;
      border: none;
      border-radius: 3px;
      padding: 0.6rem 1rem;
      font-size: 1.6rem;
      font-weight: 600;
      transition: background-color 0.3s ease-out;
      font-family: 'Open Sans', sans-serif;
      width: 80%;
      margin: 3rem auto;
      height: 4rem;
      cursor: pointer;
    }

    button.action-tag:hover, button.action-tag:active {
      background-color: #e1bee7;

    }

    /* responsive desktop */

    .nav-item {
      padding: 2rem 4rem 0;
      display: flex;
      justify-content: stretch;
    }

    .nav-item button {
      border: none;
      border-radius: 4px;
      padding: 0.5rem 2rem;
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      font-family: "Open Sans", sans-serif;
      font-size: 1.9rem;
      color: #222;
      align-items: center;
      max-height: 5.5rem;
      cursor: pointer;
      height: 9rem;
    }

    .nav-item button svg {
      width: 23px;
      height: 23px;
      fill: #b1b1b1;
    }

    .nav-item > button:hover, .nav-item > button:active {
      box-shadow: 0px 0px 4px 1px;
    }

    button#clear-btn {
      background-color: #d21d1d ;
    }

    button#clear-btn:hover, button#add-btn:active  {
      background-color: #f11f1f;
      box-shadow: 0px 0px 4px 1px #f11f1f;
    }

    button#clear-btn:hover svg, button#clear-btn:active svg{
      fill: #b10909;
    }

    button#add-btn {
      background-color: #2ec56e;
    }

    button#add-btn:hover, button#add-btn:active {
      background-color: #04f56a;
      box-shadow: 0px 0px 4px 1px #04f56a;
    }

    button#add-btn:hover svg, button#add-btn:active svg {
      fill: #159049;
    }

    button#populate-db-btn {
      background-color: #ad7eb5;
    }

    button#populate-db-btn:hover, button#populate-db-btn:active {
      background-color: #b23fc5;
      box-shadow: 0px 0px 4px 1px #b23fc5;
    }

    button#populate-db-btn:hover svg, button#populate-db-btn:active svg {
          fill: #603269;
    }


    .desktop-search-svg {
      fill: #a9a9a9;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 3.7rem;
      left: 5rem;
    }

    form.search-name-div {
      position: relative;
      flex-direction: column-reverse;
      margin-top: 1.5rem;
    }

    .search-rating-div {
      position: relative;
      display: flex;
      justify-content: stretch;
    }

    fieldset {
      border-radius: 3px;
    }

    .nav-item legend {
      font-size: 1.5rem;
    }

    .search-rating-div  input {
      width: 80%;
      line-height: 2.8rem;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      border: 1px solid #ccc;
      margin: 1rem 0rem 0rem 0rem;
    }

    .rating-input-div {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      width: 44%;
    }

    input#search-input {
      line-height: 2.8rem;
      padding: 0.5rem  1rem 0.5rem 4.5rem;
      border-radius: 4px;
      border: 1px solid #ccc;
      margin: 1rem 0rem 0rem 0rem;
    }

    .search-label {
      font-family: sans-serif;
      font-size: 1.1rem;
      color: #aaa;
    }

    #submit-button {
      border: none;
      background: none;
      cursor: pointer;
      width: 30px;
      height: 30px;
      padding: 0;
      display: inline-block;
      align-self: center;
    }

  .nav-item button#submit-button svg {
      width: 30px;
      height: 30px;
  }

  button#submit-button:hover svg, button#submit-button:active svg{
    fill: #000;
  }



  /* Modal */
  .modal {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }

  .modal-content {
    position: relative;
    background-color: white;
    padding: 0.5rem 2rem 1rem;
    margin: auto;
    width: 98%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    animation-name: animatebottom;
    animation-duration: 0.4s;
  }
  .modal-content > header {
    display: flex;
    padding: 0 0.5rem;
    justify-content: space-between;
  }

  .modal-content > header > span{
    font-size: 2rem;
    align-self: center;
  }

  .modal-content > header > span.close-btn {
    cursor: pointer;
    font-size: 3rem;
  }

  @keyframes animatebottom {
    from {bottom:-300px; opacity: 0}
    to {bottom:0; opacity: 1}
  }

  form#book-form input[type="text"],
  form#book-form input[type="url"],
  form#book-form textarea
  {
    padding: 0.25rem 0.8rem;
    /* border-radius: 2px; */
  }

  form#book-form {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 75%;
  }



  .form-input-set {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: stretch;
    flex: 1 1 auto;
    height: 5rem;
  }

  .form-input-set.ratings-group {
    flex-direction: row;
    justify-content: space-between;
  }

 .ratings {
    padding: 0;
    width: 45%;
 }

 .ratings input {
   width: 100%;
 }

 form#book-form label {
   font-size: 1.5rem;
 }

  button[name="book-submit-btn"] {
    background-color: #673ab7;
    border: none;
    padding: .5rem 0.2rem;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1.8rem;
    color: white;
    margin-top: .3rem;
  }






    /* Media Queries */
    @media screen and (min-width: 825px) {
      .content {
        grid-template-rows: minmax(55px, 10%) 1fr;
      }
      .desktop-nav {
        display: block;
        grid-column: 1/3;
        border: 1px solid #ccc;
      }
      .mobile-nav {
        display: none;
      }
      main {
        grid-column: 3/9;
      }

      .modal-content {
        width: 75%;
      }
  }

    @media screen and (max-width: 1110px) {
      .nav-item button svg {
        display: none;
      }

      #submit-button svg {
        display: block;
      }
    }
